.container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    

}
#submit{
    background-color: blue;
}
h1{
    text-align: center;
}
#title{
    width: 100%;
    grid-column: 2;
}
.message{
    width: 644px;
    height: 318;
    

}